body {
    height: 100%;
    margin: 0px        
}

h1 {
    text-align: center;
    font-size: 40px;
}

.TopBar {
    background-color: lightblue;
    overflow: hidden;
    border: 2px solid black;
}

.TopBar a {
    color: white;
    float: right;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    padding-top: 10px;
    padding-right: 22px;
    padding-left: 22px;
    padding-bottom: 10px;
}

.TopBar a:hover {
    background-color: black;
}

.TopBar a.active {
    background-color: rgb(63, 207, 243);
}

#p1 {
    font-size: 24px; 
    text-align: center;
    margin-right: 300px;
    margin-left: 300px;
}

#Main {
    background-color: lightskyblue;
    padding-top: 20px;
    padding-bottom: 25px;
}

#Main h1 {
    margin-top: 15px;
    margin-bottom: 8px;
}

#Main p {
    text-align: center;
    font-size: 20px;
}

.BadmintonImage1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 1000px;
}

